
<h3> <%=session[:account_name]%>'s Authorized Users:</h3>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Account</th>
      <th>Phone</th>
      <th>Mobile Phone</th>
      <th>Fax</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user|
    if  Account.find_by_id(user.account_id).account_name == session[:account_name]%>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= Account.find_by_id(user.account_id).account_name %></td>
      <td><%= user.phone %></td>
      <td><%= user.mphone %></td>
      <td><%= user.fax %></td>

      <td><%= link_to 'Show', user_url(user) %></td>
      <td><%= link_to 'Edit', edit_user_url(user) %></td>
      <td><%= link_to 'Destroy', user_url(user), method: 'delete', data: { confirm: "Do you really want to delete this user?" } %></td>

    </tr>
  <% end %>
  <% end %>

  </tbody>
</table>


<h4>FeedsMore Directory of Users:</h4>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Account</th>
      <th>Phone</th>
      <th>Mobile Phone</th>
      <th>Fax</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user|
      if  Account.find_by_id(user.account_id).account_name != session[:account_name]%>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= Account.find_by_id(user.account_id).account_name %></td>
      <td><%= user.phone %></td>
      <td><%= user.mphone %></td>
      <td><%= user.fax %></td>
      <td><%= link_to 'Show', user_url(user), class: 'btn' %></td>
    </tr>
     <% end %>
  <% end %>
  </tbody>
</table>




