<h1>Network and Account Settings</h1>

<% if session[:account_name].present? %>
<h4> ::logged in as <%=session[:first_name]%> <%=session[:last_name]%> :: <%= session[:account_name]%> :: account number <%= Account.find_by_account_name(session[:account_name]).id%>:: type: <%= Account.find_by_account_name(session[:account_name]).category%>::</h4>
<%end%>

<table>
  <thead>
    <tr>
        <% if session[:account_name].present? %>

        <th><%= form_tag("/sessions", method: 'delete') do %>
        <div>
        <%= submit_tag "Log out" %>
        </div>
        <%end%></th>

        <th><%= form_tag(foods_path, method: 'get') do %>
        <div>
        <%= submit_tag "F e e d   M o r e" %>
        </div>
        <%end%></th>

        <%else%>

        <th><%= form_tag("/sessions/new", method: 'get') do %>
        <div>
        <%= submit_tag "Log in" %>
        </div>
        <%end%>
        </th>

        <th><%= form_tag(new_account_url, method: 'get') do %>
        <div>
        <%= submit_tag "Register as a New User" %>
        </div>
        <%end%></th>

        <%end%>
    </tr>
 </thead>
</table>

<p><%= link_to 'Add a New User', new_user_url %></p>

<h3> <%=session[:account_name]%> authorized users:</h3>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>email</th>
      <th>first name</th>
      <th>last name</th>
      <th>account</th>
      <th>phone</th>
      <th>mobile phone</th>
      <th>fax</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user|
    if  Account.find_by_id(user.account_id).account_name == session[:account_name]%>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= Account.find_by_id(user.account_id).account_name %></td>
      <td><%= user.phone %></td>
      <td><%= user.mphone %></td>
      <td><%= user.fax %></td>

      <td><%= link_to 'Show', user_url(user) %></td>
      <td><%= link_to 'Edit', edit_user_url(user) %></td>
      <td><%= link_to 'Destroy', user_url(user), method: 'delete', data: { confirm: "Do you really want to delete this user?" } %></td>

    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>

<h4>users in our feedsMore network:</h4>

<table  class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>email</th>
      <th>first name</th>
      <th>last name</th>
      <th>account</th>
      <th>phone</th>
      <th>mobile phone</th>
      <th>fax</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user|
      if  Account.find_by_id(user.account_id).account_name != session[:account_name]%>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= Account.find_by_id(user.account_id).account_name %></td>
      <td><%= user.phone %></td>
      <td><%= user.mphone %></td>
      <td><%= user.fax %></td>
      <td><%= link_to 'Show', user_url(user), class: 'btn' %></td>
    </tr>
     <% end %>
  <% end %>
  </tbody>
</table>

