<div class="content">
<% if session[:account_name].present? %>
<h2>Add a user for <%=session[:account_name] %></h2>
<% else %>
<h2>Register as a new User for an existing Account</h2>
<% end %>


<% if session[:first_name].present? %>
<h4> ::logged in as <%=session[:first_name]%> <%=session[:last_name]%> :: <%= session[:account_name]%> :: account number <%= Account.find_by_account_name(session[:account_name]).id%>:: type: <%= Account.find_by_account_name(session[:account_name]).category%>::</h4>
<%end%>


<%= form_tag(users_url, method: 'post') do %>

  <div>
    <% if session[:account_name].present? %>
    <%= hidden_field_tag :account_id, Account.find_by_account_name(session[:account_name]) %>
    <% end %>
  </div>

  <div>
    <% if cookies[:new_account] == "true" %>
    <%= hidden_field_tag :admin, true %>
    <% else %>
    <%= hidden_field_tag :admin, false %>
    <% end %>
  </div>

  <div>
    <% if cookies[:new_account] == "true" || session[:account_name].present? %>
    <% else %>
          <%= label_tag :account_id, "Account ID Number ::supplied by an Administrator::" %><br />
          <%= text_field_tag :account_id %>
    <% end %>
  </div>


  <div>
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>



  <div>
    <%= label_tag :first_name %><br />
    <%= text_field_tag :first_name %>
  </div>

  <div>
    <%= label_tag :last_name %><br />
    <%= text_field_tag :last_name %>
  </div>



  <div>
    <%= label_tag :phone %><br />
    <%= text_field_tag :phone %>
  </div>

<!--   <div>
    <%= label_tag :mphone %><br />
    <%= text_field_tag :mphone %>
  </div>

  <div>
    <%= label_tag :fax %><br />
    <%= text_field_tag :fax %>
  </div> -->
  <div>
     <%=label_tag :password %><br />
     <%= password_field_tag :password %>
  </div>
  <div>
    <%= label_tag :password_confirmation %><br />
    <%= password_field_tag :password_confirmation %>
  </div>


  <div>
    <%= submit_tag "Create User" %>
  </div>
<% end %>
</div>
