<h4> here's some info on <%= @user.first_name %>: </h4>

<p>
  <b>account:</b>
  <%= Account.find_by_id(@user.account_id).account_name %>
</p>

<p>
  <% if (@user.account_id).to_i == (Account.find_by_account_name(session[:account_name]).id) %>
  <b>account number:</b>
  <%= @user.account_id %>
  <% end %>
</p>


<p>
  <b>email:</b>
  <%= @user.email %>
</p>

<p>
  <b>first name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>mobile phone:</b>
  <%= @user.mphone %>
</p>

<p>
  <b>fax:</b>
  <%= @user.fax %>
</p>


