<h1>User #<%= @user.id %></h1>

<table>
  <thead>
    <tr>
      <th>Account Name |</th>
      <th>| Account ID |</th>
      <th>| Type</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= Account.find_by_id(@user.account_id).account_name %></td>
      <td><%= @user.account_id %></td>
      <td><%= @user.type %></td>
    </tr>
  </tbody>
</table>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Type:</b>
  <%= @user.type %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Mphone:</b>
  <%= @user.mphone %>
</p>

<p>
  <b>Fax:</b>
  <%= @user.fax %>
</p>


