  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="main-nav">
          <ul class="nav">
            <% if session[:account_name].present? %>
              <li><%= link_to 'Foods', foods_path %></li>
          </ul>
          <ul class="profileBar">
            <li class="user visible-desktop"><img src="https://lh6.googleusercontent.com/-4DWbyVDfeZk/AAAAAAAAAAI/AAAAAAAAAAA/NG-rY4cwl40/s96-c/photo.jpg"></li>
              <li class="profile">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <%=session[:account_name]%><span class="caret"></span></a>

              <ul class="dropdown-menu">
                <li><%= link_to "Foods", "/foods" %></li>
                <li><%= link_to "Network & Settings", users_path %></li>
                <li><%= link_to "Log Out", "/sessions", method: 'delete' %></li>
                   </a></li>
                  <% else %>
                    <li><%= link_to "SignUP", "/accounts/new" %></li>
                  <% end %>
                <li class="divider"></li>





              </ul>
            </ul>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>
