  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="main-nav">
          <ul class="nav">
            <% if session[:account_name].present? %>
              <li><%= link_to 'Foods', foods_path %></li>
              <li><%= link_to 'Add Food', "foods/new", data: { toggle: "modal", target: "#ajax-modal" } %></li>
          </ul>
          <ul class="profileBar">
            <li class="user visible-desktop"><% if session[:account_name].present?%> <%= image_tag current_user.account.image.url  :width => 200 %>  %></li> <% end %>
              <li class="profile">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <%=session[:account_name]%><span class="caret"></span></a>

              <ul class="dropdown-menu">
                <li><%= link_to "Foods", "/foods" %></li>
                <li><%= link_to "Network & Settings", users_path %></li>
                <li><%= link_to "Log Out", "/sessions", method: 'delete' %></li>
                   </a></li>
                  <% else %>
                    <li><%= link_to "SignUP", "/accounts/new" %></li>
                    <li><%= link_to "SignIN", "/sessions/new" %></li>
                  <% end %>
                <li class="divider"></li>

              </ul>
            </ul>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>
<%= render 'layouts/modal' %>
