<!-- <div class="show_panel"> -->

<div id="close_panel"></div>
<h3><%= @food.description %></h3>

<p>
  <b>Pick Up By:</b>
  <%= @food.status %>
</p>

<p>
  <b>Donor:</b>
  <%= Account.find_by_id(@food.account_id).account_name %>
</p>

<p>
  <b>Description:</b>
  <%= @food.description %>
</p>

<p>
  <b>Claimed By:</b>
  <%= @food.claimant %>
</p>

<%= link_to 'Claim item', claim_url, class: 'btn-primary btn-large', method: 'create', data: { confirms: "Do you really want to claim this?"} %> <br>
<div class="GHLLCJDVB GHLLCJOL"></div>
<!-- </div> -->

