<h1>Editing <%= @food.description %></h1>

<h4> logged in as <%=session[:first_name]%> <%=session[:last_name]%> :: <%= session[:account_name]%>  </h4>


<%= form_tag(food_url(@food), method: 'put') do %>

  <div>
    <%= label_tag :status %><br />
    <%= text_field_tag :status, @food.status %>
  </div>

    <div>
    <%= hidden_field_tag :user_id, session[:account_name] %>
    </div>

  <div>
    <%= label_tag :description %><br />
    <%= text_field_tag :description, @food.description %>
  </div>

  <div>
    <%= label_tag :claimant %><br />
    <%= text_field_tag :claimant, @food.claimant %>
  </div>


  <div>
    <%= submit_tag "Update Food" %>
  </div>

<% end %>
