<h1>Food: (Pickups Index)</h1>

<h2> Logged in as <%= session[:account_name]%> : <%=session[:first_name]%> <%=session[:last_name]%> </h2>

<table>
  <thead>
    <tr>

  <th><%= form_tag("/sessions/new", method: 'get') do %>
  <div>
    <%= submit_tag "Log in" %>
  </div>
  <%end%></th>

  <th><%= form_tag("/sessions", method: 'delete') do %>
  <div>
    <%= submit_tag "Log out" %>
  </div>
  <%end%></th>

    <th><%= form_tag(new_account_url, method: 'get') do %>
  <div>
    <%= submit_tag "Register as a New User" %>
  </div>
  <%end%></th>

      </tr>
  </thead>
</table>


<p><%= link_to 'Add an Item', new_food_url %></p>

<table>
  <thead>
    <tr>
      <th>Status(Pick up by)</th>
      <th>Description</th>
      <th>Donor</th>
      <th>Claim</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @foods.each do |food| %>
    <tr>
      <td><%= food.status %></td>
      <td><%= food.description %></td>
      <td><%= food.user_id %></td>
      <td><%= food.claimant %></td>

      <td><%= link_to 'Show', food_url(food) %></td>
      <td><%= link_to 'Edit', edit_food_url(food) %></td>
      <td><%= link_to 'Delete Entry', food_url(food), method: 'delete', data: { confirm: "Do you really want to delete this food?" } %></td>
       <td><%= link_to 'Claim', claim_url(food), method: 'post', data: { confirm: "This will designate #{session[:account_name]} as claimaint for the #{food.description} at #{food.user_id}." } %></td>


    </tr>
  <% end %>
  </tbody>
</table>

