<h1>new food to F E E D the N E E D</h1>

<% if session[:first_name].present? %>
<h4> ::logged in as <%=session[:first_name]%> <%=session[:last_name]%> :: <%= session[:account_name]%> :: account number <%= Account.find_by_account_name(session[:account_name]).id%>:: type: <%= Account.find_by_account_name(session[:account_name]).category%>::</h4>
<%end%>


<%= form_tag(foods_url, method: 'post') do %>

  <div>
    <%= hidden_field_tag :user_id, session[:account_name] %>
  </div>

  <div>
    <%= label_tag :status, "Pick-Up By"  %><br />
    <%= text_field_tag :status, "", :size => "30", :placeholder => 'Pick-Up Time!! i.e., "8:00 PM"' %>
  </div>

  <div>
    <%= label_tag :description %><br />
    <%= text_area_tag :description, "", :size => "30x5", :placeholder => 'Please provide a brief description of items to be donated, i.e., "40 frozen bagels"' %>
  </div>

  <div>
    <%= submit_tag "Create Food" %>
  </div>
<% end %>
