<h1>new food to F E E D the N E E D</h1>

<h4> logged in as <%=session[:first_name]%> <%=session[:last_name]%> :: <%= session[:account_name]%>  </h4>


<%= form_tag(foods_url, method: 'post') do %>

  <div>
    <%= hidden_field_tag :user_id, session[:account_name] %>
  </div>

  <div>
    <%= label_tag :status  %><br />
    <%= text_field_tag :status %>
  </div>

  <div>
    <%= label_tag :description %><br />
    <%= text_field_tag :description %>
  </div>

  <div>
    <%= submit_tag "Create Food" %>
  </div>
<% end %>
