<h1><%= @food.description %></h1>

<h4> logged in as <%=session[:first_name]%> <%=session[:last_name]%> :: <%= session[:account_name]%>  </h4>

<p>
  <b>Pick Up By:</b>
  <%= @food.status %>
</p>

<p>
  <b>Account:</b>
  <%= @food.account_id %>
</p>

<p>
  <b>Description:</b>
  <%= @food.description %>
</p>

<p>
  <b>Claimant:</b>
  <%= @food.claimant %>
</p>


