<h1><%= @food.description %></h1>

<p>
  <b>Status:</b>
  <%= @food.status %>
</p>

<p>
  <b>User:</b>
  <%= @food.user_id %>
</p>

<p>
  <b>Description:</b>
  <%= @food.description %>
</p>

<p>
  <b>Claimant:</b>
  <%= @food.claimant %>
</p>


