
<h3><%= @food.description %></h3>

<p>
  <b>Must pick-up by:</b>
  <%= @food.status %></br>

  <b>Donor:</b>
  <%= Account.find_by_id(@food.account_id).account_name %> </br>

  <b>Claimed By:</b> </br>
  <%= @food.claimant %>
</p>

<%= link_to 'Claim item', claim_url, class: 'btn-primary btn-large', method: 'create', data: { confirms: "Do you really want to claim this?"} %> <br>

