<!DOCTYPE html>
<html>
<head>



  <title>FeedsMore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>



<% if notice.present? %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= notice %>
    </div>
    <% end %>


<%= yield %>



</body>
</html>
