<!DOCTYPE html>
<html>
<head>



  <title>FeedsMore</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= javascript_include_tag "application" %>
  <script async src="//use.typekit.com/uab2ajy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <link href="//get.pictos.cc/fonts/4007/3" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/nav' %>

<% if notice.present? %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= notice %>
    </div>
    <% end %>


    <div class="container">
      <%= yield %>
    </div>
    <%= yield :scripts %>


</body>
</html>
