<h1>New Account</h1>

<p>If you've already registered an account with us, please <%= link_to 'add a new user', new_user_url %> or <%= link_to 'sign in.', new_session_url %></p>


<%= form_tag(accounts_url, method: 'post') do %>

<p></br>
<%= select_tag(:category, options_for_select(["Pantry", "Restaurant"]), :prompt => "Please select account type") %>
</p>

  <div>
    <%= label_tag :account_name, "Name of organization or restaurant*" %>
    <%= text_field_tag :account_name %>
  </div>

  <div>

  <div>
    <%= label_tag :phone, "Phone*" %>
    <%= text_field_tag :phone %>
  </div>

  <div>
    <%= label_tag :address_line1, "Address*" %>
    <%= text_field_tag :address_line1 %>
  </div>

  <div>
    <%= label_tag :address_line2, "Suite/Apt" %>
    <%= text_field_tag :address_line2 %>
  </div>

  <div>
    <%= label_tag :city, "City*" %>
    <%= text_field_tag :city %>
  </div>

  <div>
    <%= label_tag :state, "State*" %>
    <%= text_field_tag :state %>
  </div>

  <div>
    <%= label_tag :postcode, "Postcode*" %>
    <%= text_field_tag :postcode %>
  </div>


<div>
    <%= label_tag :logo, "Logo" %>
    <%= text_field_tag :logo %>
  </div>


  <div>
    <%= submit_tag "Create Account" %>
  </div>
<% end %>
