<h1><%= @account.account_name %></h1>

<p>
  <b>Account Number:</b>
  <%= @account.id  %>
</p>

<p>
  <b>Phone:</b>
  <%= @account.phone %>
</p>

<p>
  <b>Address line1:</b>
  <%= @account.address_line1 %>
</p>

<p>
  <b>Address line2:</b>
  <%= @account.address_line2 %>
</p>

<p>
  <b>City:</b>
  <%= @account.city %>
</p>

<p>
  <b>State:</b>
  <%= @account.state %>
</p>

<p>
  <b>Postcode:</b>
  <%= @account.postcode %>
</p>

<p>
  <b>Category:</b>
  <%= @account.category %>
</p>

<p>
  <b>Logo:</b>
  <%= image_tag account.image_url %>
</p>


<h3> <%=@account.account_name%> authorized users:</h3>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>email</th>
      <th>first name</th>
      <th>last name</th>
      <th>account</th>
      <th>phone</th>
      <th>mobile phone</th>
      <th>fax</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user|
    if  Account.find_by_id(user.account_id).account_name == @account.account_name%>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= Account.find_by_id(user.account_id).account_name %></td>
      <td><%= user.phone %></td>
      <td><%= user.mphone %></td>
      <td><%= user.fax %></td>

      <td><%= link_to 'Show', user_url(user) %></td>
      <td><%= link_to 'Edit', edit_user_url(user) %></td>
      <td><%= link_to 'Destroy', user_url(user), method: 'delete', data: { confirm: "Do you really want to delete this user?" } %></td>

    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>

